.App {
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ZipBar {
    font-size: calc(3px + 2vmin);
    text-align: right;
    align-items: right;
    float: right;
}

.leaflet-container {
    width: 100wh;
    height: 100vh;
}
.Twitter-embedding {
    width: 50%;
    column-width: 100px;
    align-items: right;
    text-align: right;
}
